@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

:root {
    --background-color: #05292e ;
    --background-color-character: #062226;
    --color-properties-character: #777879;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    width: 100vw;
    background-color: var(--background-color);

}

html {
    font-size: 62.5%;
}

h1 {
    font-family: 'Kolker Brush', cursive;
    font-size: 12rem;
    position: absolute;
    color: rgb(0, 255, 26);
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}

@media(max-width:480px) {
    h1{
        font-size: 8rem;
    }
}

h1:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.title {
    text-align: center;
    min-width: 32rem;
    max-width: 80rem;
    margin: 0 auto;
    font-size: 4rem;

}

.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.container-search{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
    background-image: url('https://image.tmdb.org/t/p/original/bgd8mtXQ3titH9aBi1baVK9HJU6.jpg');
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color:  black;
    padding: 2rem;
    margin-bottom: 3rem;
}

.list-search{
    position: absolute;
    transform: translateY(-30px);
    overflow-y:auto;
    overflow-x: hidden;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    background-color: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    height: 10rem;
    padding: 2rem;
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(1rem);
}

h2{
    padding-left: 2rem;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.grey {
    background-color: grey;
}
.status {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}
.inter{
    width: 30%;
    display: flex;
    gap: 1rem;
    align-items: center;
}
@media(max-width:480px) {
    .inter{
        width: 80%;
    }
}
input{
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-style: none;
    padding: 1.3rem;
    outline: none;
    position: relative;
}



button{
    padding: 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-style: none;
}
.list {
    margin-top: 3rem;
    background-color: var(--background-color-character);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    overflow: hidden;
    padding-bottom: 2rem;
}

.image-user{
   width: 100%;
}
li {
    list-style: none;
}
.name-user {
    font-size: 2rem;
}

@media(min-width:500px) {
    .ul-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
    }
}

footer {
    margin-top: 3rem;
    width: 100%;
    background-color: black;
    padding: 5rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 12.4rem;
  }
  
  footer h3 {
    border-bottom: 1px solid rgba(0, 255, 8, 0.637);
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: rgba(0, 255, 8, 0.716);
    padding-bottom: 1rem;
    font-size: 3rem;
  }
  
  footer p {
    font-size: 2rem;
    color: rgb(0, 255, 8);
    margin-bottom: 0;
  }